{{define "body"}}
<section class="wrapper style1" id="content">
    <div class="container">
        {{if .sso}}
        <div class="row">
            <div class="12u">
                <h1>FindFriends</h1>
                <p>Dear participant,</p>
                <p>thank you for evaluating the app „FindFriends“.</p>
                <p>„FindFriends“ is a mobile application to share connect you with your closest friends and colleagues.</p>
                <p>In order to access all features of „FindFriends“ we need your current location.</p>
                By disclosing your smartphones GPS-data we can access your location and share it with your friends.
                <p>To test the application please create an account.</p>
            </div>
        </div>
        <div class="row">
            <div class="12u">
                <form action="{{.url}}" method="get">
                    <div style="border: 1px #CCC solid; width: 442px">
                        <img src="/public/images/bar.png" style="width: 442px" alt="" />
                        <div style="font-size: 14px; text-align: center; padding: 30px 5px;">
                            <span style="font-weight: 400">FindFriends</span> will receive the following info: your public profile and email address.
                        </div>
                        <div class="_2_bh">
                            <div class="pam uiBoxWhite noborder">
                                <table class="uiGrid _51mz" style="margin: 0" cellspacing="0" cellpadding="0" width="100%">
                                    <tbody>
                                        <tr class="_51mx">
                                            <td class="_51m- uiOverlayFooterMessage" style="width: 60%"></td>
                                            <td class="_51m- uiOverlayFooterButtons _51mw">
                                                <button value="1" class="uibutton large" name="__CANCEL__" type="submit">Cancel</button>
                                                <button value="1" class="uibutton large confirm" type="submit">Okay</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{else}}
    <div class="row">
        <div class="12u">
            <h1>FindFriends</h1>
            <p>Dear participant,</p>
            <p>thank you for evaluating the app „FindFriends“.</p>
            <p>„FindFriends“ is a mobile application to share connect you with your closest friends and colleagues.</p>
            <p>In order to access all features of „FindFriends“ we need your current location.</p>
            By disclosing your smartphones GPS-data we can access your location and share it with your friends.
            <p>To test the application please create an account.</p>
        </div>
    </div>
    <form action="{{.url}}" method="get">
        <div class="row">
            <div class="4u">
                <label>E-Mail Address
                    <input type="email" />
                </label>
            </div>
            <div class="4u">
                To test the application please create an account.
            </div>
        </div>
        <div class="row">
            <div class="4u">
                <label>First and Last Name
                    <input type="text" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="4u">
                <label>Password
                    <input type="password" />
                </label>
            </div>
        </div>
        <div class="row">
            <div class="4u">
                <input type="submit" value="Register" />
            </div>
        </div>
    </form>
    {{end}}
    </div>
</section>
{{end}}
