{{define "body"}}
<section class="wrapper style1" id="content">
    <div class="container">
                {{if .sso}}
        <div class="row">
            <div class="12u">
                <h1>FindFriends</h1>
                <p>Lieber Teilnehmer,</p>
                <p>vielen Dank für deine Teilnahme an der Evaluation der App “FindFriends”.</p>
                <p>“FindFriends” ist eine mobile Anwendung um dich mit deinen Freunden und Kollegen zu vernetzen.</p>
                <p>Um diese App zu verwenden, benötigen wir deinen Standort, den wir über GPS-Informationen deines Smartphones anfordern. Des Weiteren werden deine Freunde und Kontakte über deinen Facebook-Zugang ermittelt.</p>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <fb:login-button scope="public_profile,email" size="xlarge" onlogin="checkLoginState();">
                </fb:login-button>
                <div id="status">
                </div>
            </div>
        </div>

                {{else}}

        <div class="row">
            <div class="12u">
                <h1>FindFriends</h1>
                <p>Lieber Teilnehmer,</p>
                <p>vielen Dank für deine Teilnahme an der Evaluation der App “FindFriends”.</p>
                <p>“FindFriends” ist eine mobile Anwendung um dich mit deinen Freunden und Kollegen zu vernetzen.</p>
                <p>Um diese App zu verwenden, benötigen wir deinen Standort, den wir über GPS-Informationen deines Smartphones anfordern. </p>

            </div>
        </div>
            <form action="{{.url}}" method="get">
        <div class="row">
            <div class="4u">
            <label>E-Mail Adresse
            <input type="email" name="email"/></label>
            </div>
            <div class="4u">
                Zum testen der Applikation müssen Sie sich vorab ein Konto auf FindFriends erstellen.
            </div>
        </div>
        <div class="row">
            <div class="4u">
            <label>Passwort
            <input type="password" name="email"/></label>
            </div>
        </div>

        <div class="row">
            <div class="4u">
            <input type="submit" value="Abschicken"/>
            </div>
        </div>
            </form>
                {{end}}
    </div>
</section>
{{end}}
